@using ImageResizer.Web.Models
@{
    ViewBag.Title = "Home Page";
}

<h1>ImageResizer demo</h1>
<p>
    Upload photo for demo and @Html.ActionLink("Download library", "Download")
</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" /> <input type="submit" value="Upload"/>
}

@if (ViewBag.Files != null)
{
    foreach (ImageModel image in ViewBag.Files)
    {
        <h2>@image.Url, Size: @string.Format("{0} kb", image.Size / 1000), ParseTime: @string.Format("{0} ms", image.ParseTime)</h2>
        <img alt="" src='/Images/@image.Url' /><br />
    }
}

